<h1><%= title %></h1>
<ul class="list-group w-auto">
  <% if(data){ data.forEach((instance)=>{ %>
  <li class="list-group-item list-group-item-action d-flex flex-column py-2">
    <a  href="<%= instance.url %>"><%= instance.book.title %> : <%= instance.imprint %></a>
   <div class="d-flex gap-3">
    <% if(instance.status){ %>
    <span class="<%= instance.status === "Available" ? "text-success" : instance.status === "Maintenance" ? "text-danger" : "text-warning" %>"><%= instance.status %></span>    
    <% } if(instance.status !== "Available"){ %>
        <span>Due: <%= instance.due_back.toLocaleDateString() %></span>
  </li>
  <% } %>

  <% })} else { %>
    <li>
        There are no book copies in this library.
    </li>
    <% } %>
</div>
</ul>
