<h1><%= title %></h1>
<p>
  Welcome to my Library App, which is an Express site that catalogs books for
  users.
</p>
<h1>Dynamic Content</h1>
<% if(!data){ %>
<p>Error occured while getting content</p>
<% } else { %>
<p>The library has the following records:</p>
<ul>
  <% if(data.bookCount){ %>
  <li><strong>Books: </strong><%= data.bookCount %></li>
  <% } if(data.bookInstanceCount){ %>
  <li><strong>Copies: </strong><%= data.bookInstanceCount %></li>
  <% } if(data.bookInstanceAvailableCount){ %>
  <li>
    <strong>Copies Available: </strong><%= data.bookInstanceAvailableCount %>
  </li>
  <% } if(data.authorCount){ %>
  <li><strong>Authors: </strong><%= data.authorCount %></li>
  <% } if(data.genreCount){ %>
  <li><strong>Genres: </strong><%= data.genreCount %></li>
  <% } %>
</ul>
<% } %>
