<h1><%= title %></h1>
<p>
  Welcome to my Library App, which is an Express site that catalogs books for
  users.
</p>
<h1>Dynamic Content</h1>
<% if(!data){ %>
<p>Error occured while getting content</p>
<% } else { %>
<p>The library has the following records:</p>
<table class="table table-sm w-auto">
  <% if(data.bookCount){ %>
  <tr>
    <td class="pe-3"><strong>Books: </strong></td>
    <td><%= data.bookCount %></td>
  </tr>
  <% } if(data.bookInstanceCount){ %>
  <tr>
    <td class="pe-3"><strong>Copies: </strong></td>
    <td><%= data.bookInstanceCount %></td>
  </tr>
  <% } if(data.bookInstanceAvailableCount){ %>
  <tr>
    <td class="pe-3">
      <strong>Copies Available: </strong>
    </td>
    <td><%= data.bookInstanceAvailableCount %></td>
  </tr>
  <% } if(data.authorCount){ %>
  <tr>
    <td class="pe-3"><strong>Authors: </strong></td>
    <td><%= data.authorCount %></td>
  </tr>
  <% } if(data.genreCount){ %>
  <tr>
    <td class="pe-3"><strong>Genres: </strong></td>
    <td><%= data.genreCount %></td>
  </tr>
  <% } %>
</table>
<% } %>
