<h1><%= title %></h1>

<form class="border rounded p-3" action="" method="post">
  <div class="form-group mb-3">
    <label class="form-label" for="book">Book:</label>
    <select id="book" class="form-control" name="book" required="true">
      <option>Please select a Book</option>
      <% books.forEach((book)=>{ %> <% if(locals.selectedBook){ %> <option
      value="<%=book._id %>" <%= book._id === selectedBook ? " selected" : ""
      %>> <%= book.title %> <% } else { %>
      <option value="<%= book._id %>"><%= book.title %> <% } %></option>
      <% }) %>
    </select>
    <div class="form-text">
      If your book isn't in the list, please add it
      <a href="/catalog/books/create">here.</a>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="imprint">Imprint:</label>
    <input id="imprint" class="form-control" type="text" name="imprint"
    placeholder="Publisher and date information" required="true" value="<%=
    locals.bookinstance ? bookinstance.imprint : "" %>" />
  </div>
  <div class="form-group mb-3">
    <label for="imprint">Date when book available:</label>
    <input id="due_back" class="form-control" type="date" name="due_back"
    placeholder="Publisher and date information" required="true" value="<%=
    locals.bookinstance ? bookinstance.due_back : "" %>" />
  </div>
  <div class="form-group mb-3">
    <label for="status">Status:</label>
    <select id="status" class="form-control" name="status" required="true">
      <option value="">Select Status</option>
      <option value="Maintenance">Maintenance</option>
      <option value="Available">Available</option>
      <option value="Loanded">Loanded</option>
      <option value="Reserved">Reserved</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% if(locals.errors){ %>
<ul class="list-group my-4">
  <% for( const error of errors){ %>
  <li class="list-group-item list-group-item-warning"><%= error.msg %></li>
  <% } %>
</ul>
<% } %>
